    <!-- Header -->
      <section id="header">

        <div class="head-nav-hero">
          <!-- Logo -->
            <h1 id="logo">
              <a href="{{ '/' | url }}">
                <img src="{{ '/assets/images/RMP-Rural-Mural-Project-logo-05.png' | url }}" alt="Rural Mural Project logo">
                <span>Rural Mural Project</span>
              </a>
            </h1>

            {% include "nav.njk" %}

          <!-- Banner -->
            <section id="banner">
              <header>
                <h2>We believe in public art.</h2>
                <p>The Rural Mural Project is a mural and public arts cooperative based in Morgantown, WV.</p>
              </header>
            </section>
        </div>

        <!-- Intro -->
          <section id="intro" class="container">
            <div class="row">
              <div class="col-4 col-12-medium">
                <section class="first">
                  <i class="icon solid featured fa-cog"></i>
                  <header>
                    <h2>Advocacy</h2>
                  </header>
                  <p>We advocate for murals and public art within the communities which we serve, including working with partner organizations, city & arts councils, and developing plans for sustainable public art.</p>
                </section>
              </div>
              <div class="col-4 col-12-medium">
                <section class="middle">
                  <i class="icon solid featured alt fa-bolt"></i>
                  <header>
                    <h2>Leadership</h2>
                  </header>
                  <p>The Rural Mural Project provides assistance to artists, community groups, and other change makers working to create beautiful, integral works of public art for their community.</p>
                </section>
              </div>
              <div class="col-4 col-12-medium">
                <section class="last">
                  <i class="icon solid featured alt2 fa-star"></i>
                  <header>
                    <h2>Delivery</h2>
                  </header>
                  <p>As a volunteer driven organization, we know what it takes to roll up our sleeves and make public art happen. We're dedicated to the process and successful delivery of public art.</p>
                </section>
              </div>
            </div>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button large">Donate</a></li>
                <li><a href="#" class="button alt large">Volunteer</a></li>
              </ul>
            </footer>
          </section>

      </section>
