    <!-- Header -->
      <section id="header">

        <!-- Logo -->
          <h1 id="logo">
            <a href="/">
              <img src="assets/images/RMP-Rural-Mural-Project-logo-05.png" alt="Rural Mural Project logo">
              <span>Rural Mural Project</span>
            </a>
          </h1>

          {% include "nav.njk" %}

        <!-- Banner -->
          <section id="banner">
            <header>
              <h2>We believe in public art.</h2>
              <p>The Rural Mural Project is a public arts and mural cooperative based in Morgantown, WV.</p>
            </header>
          </section>

        <!-- Intro -->
          <section id="intro" class="container">
            <div class="row">
              <div class="col-4 col-12-medium">
                <section class="first">
                  <i class="icon solid featured fa-cog"></i>
                  <header>
                    <h2>Ipsum consequat</h2>
                  </header>
                  <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                </section>
              </div>
              <div class="col-4 col-12-medium">
                <section class="middle">
                  <i class="icon solid featured alt fa-bolt"></i>
                  <header>
                    <h2>Magna etiam dolor</h2>
                  </header>
                  <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                </section>
              </div>
              <div class="col-4 col-12-medium">
                <section class="last">
                  <i class="icon solid featured alt2 fa-star"></i>
                  <header>
                    <h2>Tempus adipiscing</h2>
                  </header>
                  <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                </section>
              </div>
            </div>
            <footer>
              <ul class="actions">
                <li><a href="#" class="button large">Get Started</a></li>
                <li><a href="#" class="button alt large">Learn More</a></li>
              </ul>
            </footer>
          </section>

      </section>
