// body {
//   background: linear-gradient(90deg, red, cyan);
//   min-height: 100vh;
//
//   &:before {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		bottom: 0;
//     right: 0;
// 		mask-image: linear-gradient(to bottom, transparent, black);
// 		background: linear-gradient(90deg, hotpink, rebeccapurple);
//   }
// }
#header {
  padding: 0;
}
#header div.head-nav-hero {
  background: linear-gradient(-45deg, hotpink, transparent), linear-gradient(180deg, cyan, transparent), linear-gradient(45deg, yellow, transparent), linear-gradient(90deg, yellow, transparent) ;
  background-blend-mode: exclusion;
  padding-top: 2.5em;
}

#banner {
  // height: 60vh;
  background: linear-gradient(cyan, transparent), linear-gradient(-45deg, magenta, transparent), linear-gradient(45deg, yellow, transparent), url("../images/IMG_0101.JPG") center center / cover no-repeat;
  background-blend-mode: multiply;
  margin-top: 2.5em;
}

#logo img {
  // float: left;
  width: 60px;
  height: 60px;
  @include breakpoint('<=medium') {
    width: 50px;
    height: 50px;
  }
  @include breakpoint('<=small') {
    width: 35px;
    height: 35px;
  }
}

#logo a span {
  color: #fff;
  position: relative;
  top: -20px;
  @include breakpoint('<=medium') {
    top: -15px;
  }
  @include breakpoint('<=small') {
    top: -10px;
  }
}

#nav ul li a &:hover, &.active {
  color: #fff;
}
